body {
    font-family: var(--fuenteParrafos);
    margin: 0;
    padding: 0;
    display: flex; /* Usamos grid en lugar de flex */
    grid-template-rows: auto 1fr; /* Navbar ocupa la primera fila, el resto del contenido la segunda */
    justify-items: center; /* Centra horizontalmente los elementos */
    align-items: start; /* Alinea los elementos en la parte superior */
    min-height: 100vh;
    color: var(--blanco);
    justify-content: center;
    align-items: center;
    
  }
  
  
  body::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/assets/images/Logo FUNDER 2021.png') no-repeat center center fixed;
        background-size:contain;
      z-index: -1; 
        filter: blur(2px); /* Aplica el desenfoque */
        opacity: 0.6;

  }
  

/* Contenedor principal */
.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Título */
h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Etiquetas */
label {
    font-weight: bold;
    color: #555;
    text-align: left;
}

/* Inputs */
.form-control {
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botón */
.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}
