table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.section-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: lighter;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.underline {
border-bottom: 1px solid #000;
padding: 5px 0;
margin-top: 5px;
 
}

.declaracion-jurada {
  margin-top: 20px;
}

/* Asegura que también imprima bien en A4 */
@media print {
  body {
    margin: 0;
  }
  table {
    width: 100%;
  }
}

