body {
    font-family: var(--fuenteParrafos);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    color: var(--blanco);
    background: rgba(250, 255, 200, 0.8); 
    flex-direction: column; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/Logo\ FUNDER\ 2021.png') no-repeat center center fixed;
    background-size: 400px;
    filter: brightness(0.8) blur(80px); 
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    width: 100%;
    max-width: 900px;
    padding: 20px;
    background: rgba(222, 219, 219, 0.5); 
    border-radius: 15px;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.6);
    z-index: 1; 
}
.nav-item {
    margin: 15px 0;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nav-item-superior {
    display: flex;
    align-items: center; /* Centrar verticalmente dentro del navbar */
    justify-content: center; /* Centrar horizontalmente */
    text-align: center;
    padding: 0 15px; /* Ajuste de espacio */
    border-radius: 8px;
    font-size: 15px;
    height: 100%; /* Asegurar que ocupe la altura completa del navbar */
    line-height: 100px; /* Asegura que el texto se alinee con la altura del navbar */
  }
  
/* Títulos */
h1 {
    font-family: var(--fuenteTitulos);
    font-size: 32px;
    color: var(--secundarioVerde);
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--secundarioVerde);
    padding-bottom: 10px;
}

h2 {
    font-family: var(--fuenteTitulos);
    font-size: 24px;
    color: var(--primarioAzul);
    margin-bottom: 20px;
    text-align: center;
}

/* Formularios */
form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.94); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--negro);
}

/* Campos de entrada */
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #444;
    border-radius: 5px;
    background: #f9f9f9;
    color: #333;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: var(--primarioAzul);
    box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

/* Botones */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: var(--blanco);
    background: var(--primarioAzul);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background: #156dc1;
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.94);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

ul li {
    margin-bottom: 10px;
    color: var(--negro);
}

ul li:last-child {
    margin-bottom: 0;
}

/* Responsividad */
@media (max-width: 768px) {
    h1, h2 {
        font-size: 24px;
    }

    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        font-size: 12px;
        padding: 8px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}
